{% extends 'base.html' %}
{% block title %}
Armory
{% endblock title %}
{% block content %}
<form method="post">{% csrf_token %}
    <ul>
        {% if number == 0 %}
            Uzupełnij pancerze
        {% else %}
            Armors:
            <section class="scroll">
                {% for armor in armors %}

                    <p>Name: {{ armor.name }} Armor description: {{ armor.description }} Price: {{ armor.price }}
                        Diamonds: {{ armor.diamonds }} <a href={% url 'armor_detail' armor.id %}
                                                    class="details-button">Details</a></p>

                {% endfor %}
            </section>
        {% endif %}
    </ul>


</form>
{% endblock content %}