{% extends 'base.html' %}
{% block title %}
Add armor
{% endblock title %}
{% block content %}
<form method="post">{% csrf_token %}
    <ul>
        {% if number == 0 %}
            Uzupełnij pancerze
        {% else %}
            Armors:
            {% for armor in armors %}
                <ul>
                    <li>Name: {{ armor.name }}</li>
                    <li>Armor description: {{ armor.description }}</li>
                    <li>Price: {{ armor.price }}
                    <a href="/armor_details/{{ armor.id }}/" class="details-button">Details</a></li>
                </ul>
            {% endfor %}
        {% endif %}
    </ul>


</form>
{% endblock content %}