<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header class="page-header">
        <a href={% url 'demo_page' %} class="logo">PathOfHero</a>
        <a href={% url 'account' %}>Gold:{{ currency.gold }} Diamonds: {{ currency.diamonds }} </a>
        <a href={% url 'about' %}>about</a>
        <a href={% url 'team' %}>team</a>
        {% if user %}
            Hello, {{ user.username }}
        {% else %}
        <a href={% url 'login' %}>login</a>
        {% endif %}
    </header>

    <section class="dashboard-section">
        <div>
            <ul>
                <li>{% if session_hero %}
                        <a href="{% url 'maze_entry' %}">Play</a>
                {% endif %}
                </li>
                <li><a href={% url 'main_site' %} class="side-button">Main </a></li>
                <li>Current hero: {{ session_hero.name }}</li>
                <li><a href={% url 'hero_list' %} class="side-button">Hero list</a></li>
                <li><a href={% url 'armory' %} class="side-button">Armory</a></li>
                <li><a href={% url 'smith' %} class="side-button">Smith</a></li>
                <li><a href={% url 'settings' %} class="side-button">Settings</a></li>
                <li><a href={% url 'logout' %} class="side-button">Logout</a></li>
            </ul>


<!-- //--------------------------- page content -------------------------// -->
{% block content %}{% endblock content %}
<!-- //--------------------------- page content end ---------------------// -->

            </div>
        <footer>
          <p>&copy; Medieval Adventure Game 2023</p>
        </footer>
    </section>
</body>
</html>