{% extends 'base_maze.html' %}
{% block title %}
Find Chest
{% endblock title %}
{% block content %}
<form method="post">{% csrf_token %}
    <div class="fight-background">
        <div class="pre-fight">
            <section class="open-chest">
                <p>You find a chest!</p>
                <p>Your account: {{ begin_currency }} gold</p>
                <p>Award: {{ chest.prize }} gold</p>
                <p>Now you get total: {{ currency.gold }} gold</p>
            </section>
            <section>
                <p><a href="{% url 'maze' %}">Continue</a></p>
            </section>
    </div>
</form>
{% endblock content %}