{% extends 'base_maze.html' %}
{% block title %}
Fight
{% endblock title %}
{% block content %}
<div class="fight-background">
    <div class="fight-body">
        <section>
            <p class="fight-result">{{ result }}</p>
            <section class="hero-monster-fight">
                <p>Monster: {{ monster.name }} {{ monster_health }}/{{ monster.max_health_points }} HP</p>
                <p>Hero: {{ hero.name }} {{ hero.health_points }}/{{ hero.max_health_points }} HP</p>
            </section>
        </section>
        <section class="fight-down">
            <div class="fight-history">
                {% for history in fight_history %}
                    <p>{{ history }}</p>
                {% endfor %}
            </div>
            <div class="fight-buttons">
                <p><a href="{% url 'maze' %}" class="fight-button">Continue</a></p>
                <p><a href="{% url 'main_site' %}" class="fight-button">Back to main</a></p>
            </div>
        </section>
    </div>
</div>
{% endblock content %}