{% extends 'base.html' %}
{% block title %}
Login
{% endblock title %}
{% block content %}
<form method="post">{% csrf_token %}
    <ul>
        {% if number == 0 %}
            <a href="/create_hero/" class="create-hero-button">Create hero</a>
        {% else %}
            Your Heroes
             <a href="/create_hero/" class="create-hero-button">Create hero</a>
            {% for hero in hero_list %}
                <li> Name: {{ hero.name }} Level: {{ hero.level }} {{ hero.health_points }}/{{ hero.max_health_points }}
                <a href={% url 'hero_detail' hero.id %} class="details-button">Details</a></li>
{#                <input type="number" value='{{hero.id}}' name="heroes" hidden >#}
{#                <input type="submit" value="Select as active">#}
            {% endfor %}
        {% endif %}
    </ul>


</form>
{% endblock content %}