{% extends 'base.html' %}
{% block title %}
Login
{% endblock title %}
{% block content %}
<section method="post">{% csrf_token %}
    <section>
        {% if number == 0 %}
            <a href="/create_hero/" class="create-hero-button">Create hero</a>
        {% else %}
            <section class="hero-list-title"
            <p>Your Heroes</p>
            <p><a href="/create_hero/" class="create-hero-button">Create hero</a></p>
            </section>
            {% for hero in hero_list %}
                <li> Name: {{ hero.name }} Level: {{ hero.level }} {{ hero.health_points }}/{{ hero.max_health_points }}
                    {% if session_hero.id == hero.id %}
                        Selected
                    {% else %}
                        <a href="{% url 'hero_select' hero.id%}" class="select-list-button">Select hero</a>
                    {% endif %}
                    <a href={% url 'hero_detail' hero.id %} class="details-button">Details</a></li>

            {% endfor %}
        {% endif %}
    </section>
</form>
{% endblock content %}