{% extends 'base.html' %}
{% block title %}
Select Hero
{% endblock title %}
{% block content %}
<form method="post">{% csrf_token %}
    <ul>
        <li>
            If you want to enter, select your Hero
            <select name="hero" id="hero">
            {% for hero in hero_list %}
                <option value="{{ hero.id }}">{{ hero.name }}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Select"></li>
        </li>

    </ul>
</form>
{% endblock content %}