<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log out</title>
</head>
<body>
    <header class="page-header">
            <a href={% url 'demo_page' %} class="logo">PathOfHero</a>
            <a href={% url 'about' %}>about</a>
            <a href={% url 'team' %}>team</a>
            <a href={% url 'login' %}>login</a>
    </header>
    <form method="post">{% csrf_token %}
        Log out
        <p><a href={% url 'login' %}>Log in</a></p>
    </form>
    <footer>
        <p>&copy; Medieval Adventure Game 2023</p>
    </footer>
</body>
</html>