{% extends 'base.html' %}
{% block title %}
main_site site
{% endblock title %}
{% block content %}
<div class="main-text">
    <p>PathOfHero is a browser-based RPG game developed by <a href="{% url 'team' %}">Jan Świderski</a>  as a 2-week
        project for the Coderslab course.</p>
    <p>Although the game is not highly developed and visually average, it has potential for further improvement. Jan
        used his knowledge about Python, Html, Css and an image generator to create the game.</p>
    <p>The mechanics of character creation and combat are based on the rules of D&D 3.5, i.e. dice rolls that are
        equally fair to the computer and the player.</p>
    <p>Special thanks should be given to <a href="{% url 'team' %}">Konrad Torbus</a> for creating the graphics for
        the dungeons.</p>
</div>
{% endblock content %}