{% extends 'base_maze.html' %}
{% block title %}
Pre fight view
{% endblock title %}
{% block content %}
    <div class="pre-fight-background">
        <div class="pre-fight">
            <section>
                <p>Your hero {{ hero.name }} see Boss!</p>
                <p>Difficultly : {{ message }}</p>
            </section>
            <section>
                <p><a href="{% url 'fight' monster.slug %}" class="fight-button">Begin fight</a></p>
                <p><a href="{% url 'main_site' %}" class="run-away-button">Run Away</a></p>
            </section>
        </div>
    </div>
{% endblock content %}