<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <style>
    @import url('https://fonts.cdnfonts.com/css/apple-chancery');
    </style>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <h1>
            <a href={% url 'demo_page' %} class="logo" >POH </a>
        </h1>
        <h2>
            <a href={% url 'about' %}>About</a>
            <a href={% url 'team' %}>Team</a>
            <a href={% url 'login' %}>Login</a>
        </h2>
    </header>
    <section class="dashboard-section">
        <form method="post">{% csrf_token %}
            <p>Registration</p>
            {{ form.as_p }}
            <input type="submit" value="Register account" class="button">
        </form>
    </section>
    <footer>
        <p>&copy; SwiderskJ Studio 2023</p>
    </footer>
</body>
</html>