{% extends 'base.html' %}
{% block title %}
Weapons list
{% endblock title %}
{% block content %}
<form method="post">{% csrf_token %}
    <ul>
        {% if weapons_number == 0 %}
            Fill weapons
        {% else %}
            Weapons:
            <section class="scroll">
                {% for weapon in weapons %}

                    <p>Name: {{ weapon.name }} Weapon description: {{ weapon.description }}
                        Price: {{ weapon.price }} Diamonds: {{ weapon.diamonds }}
                    <a href={% url 'weapon_details' weapon.id %} class="details-button">Details</a></p>

                {% endfor %}
            </section>
        {% endif %}
    </ul>


</form>
{% endblock content %}