{% extends 'base.html' %}
{% block title %}
Weapon Detail
{% endblock title %}
{% block content %}
<form method="post">{% csrf_token %}
   <ul>
       <li>Name: {{ weapon.name }}</li>
       <li>Description: {{ weapon.description }}</li>
       <li>Damage bonus: {{ weapon.damage_bonus}}</li>
       <li>Defence bonus: {{ weapon.defence_bonus }}</li>
       <li>Attack bonus: {{ weapon.attack_bonus }}</li>
       <li>Price: {{ weapon.price }}</li>
       <li>Diamonds: {{ weapon.diamonds }}</li>
       <li><a href={% url 'buy_weapon' weapon.id %}>Buy</a></li>
   </ul>
</form>
{% endblock content %}